/*--Button Area Start--*/
/*--Button Area Start--*/
.cmn--btn {
	border-radius: 6px;
	padding: 12px 20px 12px;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	display: inline-block;
	text-transform: capitalize;
	position: relative;
	background: var(--base);
	overflow: hidden;
	span{
		position: relative;
		z-index: 1;
		transition: all 0.5s;
		color: var(--white);
	}
	&::before{
		position: absolute;
		content: "";
		top: 50%;
		transform: translate(-50%, -50%);
		left:50%;
		width: 0px;
		height: 0px;
		background: var(--base);
		transition: all 0.5s;
	}
	&:hover{
		&::before{
			width: 100%;
			height: 100%;
		}
	}
}
.outline__btntwo{
	background: transparent;
	border: 1px solid var(--white);
	padding: 10px 20px 11px;
	span{
		color: var(--white);
	}
	&:hover{
		border-color: var(--base);
		span{
			color: var(--white);
		}
	}
}
.outline__btn{
	background: transparent;
	border: 1px solid var(--base);
	padding: 10px 20px 11px;
	span{
		color: var(--base);
	}
	&:hover{
		span{
			color: var(--white);
		}
	}
}
/*--Button Area End--*/
/*--Button Area End--*/

/*--Button new here--*/
.new__btn{
	position: relative;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	color: var(--title);
	border-radius: 100px;
	width: 175px;
	text-align: center;
	&::before{
		position: absolute;
		top: 50%;
		left: -0px;
		width: 55px;
		height: 40px;
		border-radius: 100px;
		background: #F5F5F5;
		content: "";
		transform: translateY(-50%);
		transition: all 0.4s;
	}
	span{
		position: relative;
		z-index: 1;
	}
	i{
		position: relative;
		z-index: 1;
	}
	&:hover{
		&::before{
			width: 100%;
			background: var(--base);
		}
		i{
			color: var(--white);
		}
		span{
			color: var(--white);
		}
	}
}
.white__btn{
	padding: 15px 20px;
	border: 1px solid var(--white);
	border-radius: 100px;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
}
/*--Button new End--*/