


:root {
    --body: #ffffff;
    --white: #ffffff;
    --title: #181818;
    --subtitle: #222E48;
    --base: #4569E7;
    --ftext: #818181;
    --footer: #181818;
    --border1: #414141;
    --ratting: #FF8000;
    --bgsection: #F8FAFB;
    --success: #3FCA90;
    --danger: #ED5050;
    --boxes1: rgba(26, 77, 190, 0.05);
    --cborder: #D9D9D9;
    --cmborder: #D9D9D9;
    --changeborder: #7d7c7c3e;
}

.darkadd{
    --body: #181818;
    --white: #ffffff;
    --title: #fff;
    --subtitle: #fff;
    --base: #4569E7;
    --ftext: #818181;
    --footer: #181818;
    --border1: #414141;
    --ratting: #FF8000;
    --changeborder: #414141;
    --bgsection: #181818;
    --success: #3FCA90;
    --danger: #ED5050;
    --boxes1: rgba(26, 77, 190, 0.05);
    --cborder: #D9D9D9;
    --cmborder: #D9D9D9;
}